* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background: rgba(30, 30, 46, 0.4);
    transition-property: background-color;
    color: #f2eded;
    transition-duration: 1.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/


button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces {
    background: #282738;
    margin: 5px 5px 5px 5px;
    padding: 0px 5px 0px 5px;
    border-radius: 15px;
    font-weight: normal;
    font-style: normal;
}

#workspaces button {
    padding: 0px 5px;
    color: #928374;
    border-radius: 15px;
}

#workspaces button.active {
    color: #f2eded;
    background-color: #848db8;

}

#workspaces button:hover {
    background-color: #848db8;
    color: black;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#custom-powermenu,
#clock,
#battery,
#cpu,
#memory,
#wireplumber,
#tray,
#mode,
#custom-spotify {
    padding: 5px 5px;
    border-radius: 10px;
    margin: 5px 5px;
    background-color: #282738;
}

#wireplumber {
    border: solid 2px #98473b;

}

#battery {
    border: solid 2px #304b40;
}


#cpu {
    border: solid 2px #d36c40;
}

#memory {
    border: solid 2px #848db8;
}



#clock,
#custom-powermenu {
    background-color: #282738;
    border: solid 2px #848db8
}

#custom-spotify {
    background-color: #848db8;
    font-weight: bolder;
    font-size: 1rem;
}



#custom-spotify.custom-pausing {
    background-color: #eb4d4b;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 10px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 10px;
}




#battery.charging,
#battery.plugged {
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#custom-powermenu {
    background-color: #eb4d4b;
    padding: 5px;
    padding-right: 8px;
}



#wireplumber.muted {
    background-color: #f53c3c;
}


#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}